services:
  mongo-dev:
    image: mongo:4.4
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'mongo'
      MONGO_INITDB_ROOT_PASSWORD: 'mongo'
    volumes:
      - type: volume
        source: db-data
        target: /data/db
      - type: volume
        source: config-data
        target: /data/configdb
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: '3'
    ports:
      - target: 27017
        published: 27017
volumes:
  db-data:
  config-data: