<!DOCTYPE html>
<html>
<head>
    <title>Image Upload API</title>
</head>
<body>
    <h1>Image Upload API</h1>
    <button class="Index" type="button" onclick="window.location.href='/'">index</button>
    <button class="Docs" type="button" onclick="window.location.href='/docs'">Docs</button>
    <button class="Main" type="button" onclick="window.location.href='/main'">Main</button>
<h1>Image Upload</h1>
<form action="/upload/" enctype="multipart/form-data" method="post">
    <input name="file" type="file">
    <input type="submit">
</form>
<h2>Uploaded Images</h2>
<div>
    <hr>
    {% for image in images %}
        <div onclick="window.location.href='/image/{{ image.uuid }}'">

            <img src="data:image/{{ image.extension }};base64,{{ image.data }}" width="200"/>
            <p>uuid     :{{ image.uuid }}</p>
            <p>filename :{{ image.filename }}</p>
            
            <hr>
        </div>
    </hr>
    {% endfor %}
</div>
</body>
</html>
